<%= turbo_frame_tag "dashboard_users_count" do %>
<section class="w-[300px]">
  <div class="p-4 mb-8 transition duration-500 ease-in-out rounded-md shadow-md bg-sky-50 hover:scale-105 hover:shadow-lg">
    <p class="font-medium text-sky-900 text-md">Total number of users:</p>
    <p class="font-semibold text-sky-900 text-md"><%= @total_users %></p>
  </div>

  <div class="p-4 transition duration-500 ease-in-out rounded-md shadow-md bg-sky-50 hover:scale-105 hover:shadow-lg">
    <p class="font-medium text-sky-900 text-md">Number of users grouped by Role:</p>
    <ul class="mt-2 space-y-2">
      <% @users_by_role.each do |role, count| %>
        <li class="flex items-center justify-between">
          <span class="text-sm font-bold text-sky-900"><%= t("activerecord.attributes.user.roles.#{role}") %></span>
          <span class="text-sm font-medium text-gray-700"><%= count %></span>
        </li>
      <% end %>
    </ul>
  </div>
</section>
<% end %>
