<section class="px-4">
  <p>Total number of users: <%= @total_users %></p>
  <p>Number of users grouped by Role:</p>
  <ul>
    <% @users_by_role.each do |role, count| %>
      <li><%= t("activerecord.attributes.user.roles.#{role}") %>: <%= count %></li>
    <% end %>
  </ul> 
</section>