<%= title t(:dashboard, scope: 'menu') %>

<div class="col-4">
  <div class="card bg-primary text-white mb-4">
    <div class="card-body">
      <%= t(:no_admin_users, scope: 'dashboard') %>:
      <span id="no_admin" class="float-right">0</span>
    </div>
  </div>
</div>

<div class="col-4">
  <div class="card bg-warning text-white mb-4">
    <div class="card-body">
      <%= t(:admin_users, scope: 'dashboard') %>:
      <span id="admin" class="float-right">0</span>
    </div>
  </div>
</div>

<div class="col-4">
  <div class="card bg-success text-white mb-4">
    <div class="card-body">
      <%= t(:total_users, scope: 'dashboard') %>:
      <span id="total_users" class="float-right">0</span>
    </div>
  </div>
</div>         