<div class="controls">
    <%= link_to (image_tag('pencil-outline.svg')), edit_user_path(user) %>
    <%= link_to (image_tag('trash-outline.svg')), user, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>