<div class="footer row">
  <div class="col-12 mt-3 p-0 text-center">
    <a class="footer-brand" href="https://www.umanni.com/" target="_blank">
        <img src="https://www.umanni.com/content/images/2022/04/umanni-logo-color-whitout-tagline-transparent-1.png" />
    </a>
  </div>
  <div class="footer-links col-12 my-2 p-0 justify-content-center">
    <a href="https://twitter.com/tryghost" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.facebook.com/ghost" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/umannioficial/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.youtube.com/channel/UCE6oT6apClkc96KqLcavA2Q" target="_blank"><i class="fab fa-youtube"></i></a>
    <a href="https://www.linkedin.com/company/umanni/?originalSubdomain=br" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/umanni" target="_blank"><i class="fab fa-github"></i></a>
  </div>

  <div class="text-center pt-0 px-0 pb-3">
    <a href="https://github.com/pedrofonsecapadilha" style="text-decoration:none" target="_blank"><p class="text-secondary m-0">Developed with <i class="fas fa-heart"></i> by Pedro Padilha</p></a>
  </div>

</div>
