<div class="mr-2 pr-2">
  <%= link_to t(:dashboard, scope: 'menu'), admin_dashboard_index_path, class: 'text-white h6 font-weight-bold' %>
</div>
<div class="mr-2 pr-2">
  <%= link_to t(:users, scope: 'menu'), admin_users_path, class: 'text-white h6 font-weight-bold' %>
</div>
<div class="mr-2 pr-2">
  <%= link_to t(:user_bulks, scope: 'menu'), admin_user_bulks_path, class: 'text-white h6 font-weight-bold' %>
</div>