<div class="banner img-fluid" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1491466424936-e304919aada7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80);">
  <div class="container">
    <h1>Welcome to the<br><strong>Umanni Manage Users</strong></h1>
    <p>Change your way to manage your users! Now you can do it with efficiency.</p>
    <div class="d-grid gap-2 col-4 mx-auto mt-3">
      <%= link_to "Login", new_user_session_path, class: 'btn btn-outline-light btn-lg' %>
      <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-outline-light btn-lg' %>
    </div>
  </div>
</div>
