.head-table {
  background: linear-gradient(109.8deg,  rgba(250,111,152,1) 5.6%, rgba(255,189,55,1) 103.5%)
}

.td {
  text-align: center;
}

.table-display-none {
  display: none;
}

td, th {
  vertical-align: middle !important;
   .form-group{
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.option {
  background-image: none !important;
  border: solid gray 1px !important;

  width: 70%;
}
