.navbar-lewagon {
  justify-content: space-between;
  background: #1F2023; // Umanni color
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 40px;
}

.toggler-color {
  background-color: #ffffff30;
}
