<%= title t(:create_resource, resource: t(:user, scope: 'activerecord.models')) %></h1>

<%= content_for :right do %>
  <%= link_to t(:back), admin_users_path %>
<% end %>

<%= render 'form', user: @user %>

