.registerContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;

  padding: 50px;
  max-width: 800px;
  margin: auto;
}

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1rem;
  width: 25rem;
}

.firstNameInput {
  margin-left: 2.8rem;
  width: 16.6rem;
}

.lastNameInput {
  margin-left: 2.9rem;
  width: 16.6rem;
}

.emailInput {
  margin-left: 4.9rem;
  width: 16.6rem;
}

.passwordInput {
  margin-left: 3.3rem;
  width: 16.6rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
